<div class="container mt-5 my-3">
    <div class="row">
      <div class="col">
        <div class="card estilo">
            <img src="https://cdn.pixabay.com/photo/2017/01/20/00/30/maldives-1993704__340.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">2x1</h5>
              <p class="card-text">¡Para aprovechar la promoción, usá el código "2x1" cuando pagues en línea!</p>
              <a href="#" class="btn btn-primary css-button-sliding-to-left--sky">APLICAR</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card estilo">
            <img src="https://cdn.pixabay.com/photo/2018/10/19/12/14/train-3758523__340.jpg" class="card-img-top" alt="cupon50">
            <div class="card-body">
              <h5 class="card-title">50% DE DESCUENTO</h5>
              <p class="card-text">¡Para aprovechar la promoción, usá el código "FRIO" cuando pagues en línea!</p>
              <a href="#" class="btn btn-primary css-button-sliding-to-left--sky">APLICAR</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card estilo">
            <img src="https://cdn.pixabay.com/photo/2017/08/07/10/05/neuschwanstein-2602208__340.jpg" class="card-img-top" alt="cupon25">
            <div class="card-body">
              <h5 class="card-title">25% DE DESCUENTO</h5>
              <p class="card-text">¡Para aprovechar la promoción, usá el código "CASTILLO" cuando pagues en línea!</p>
              <a href="#" class="btn btn-primary css-button-sliding-to-left--sky">APLICAR</a>
            </div>
          </div>
      </div>
    </div>
  </div>
